/* MoviePage.css */
.movie-page {
    text-align: center;
    padding: 50px;
  }
  
  .movie-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  .movie-player {
    width: 100%;
    max-height: 500px;
  }
  
  .movie-title {
    margin-top: 20px;
    color: #fff;
    background-color: #fb4d3d;
    font-size: 24px;
  }
  
  .movie-description {
    margin-top: 10px;
    color: #011627;
    font-size: 16px;
  }
  